# Sửa localhost thành 'db' (tên service trong docker-compose)
# Đổi 'student_db' thành tên DB trong docker-compose nếu khác
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db-student:5432/student_db

# Key bảo mật (có thể để mặc định nếu làm đồ án)
SECRET_KEY=1234678

DEBUG=true

# Cho phép UI truy cập (Thêm port 5173 nếu dùng Vite/React)
ALLOWED_ORIGINS=["http://localhost:3000", "http://localhost:5173", "http://localhost:8000"]
